{% extends "layouts/index.html" %}

{% block title %}Panel Administratora{% endblock %}

{% block body %}
<div class="container mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-5">Panel Administratora</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <h3 class="text-xl font-semibold mb-3">Zarezerwowane Wizyty</h3>
            {% if booked_appointments %}
                <ul class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    {% for appointment in booked_appointments %}
                        <li class="mb-2">
                            {{ appointment.start_time.strftime('%Y-%m-%d %H:%M') }} -
                            {{ appointment.end_time.strftime('%H:%M') }} z
                            {{ appointment.student.username }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-gray-600">Brak zarezerwowanych wizyt.</p>
            {% endif %}
        </div>

        <div>
            <h3 class="text-xl font-semibold mb-3">Dostępne Wizyty</h3>
            {% if available_appointments %}
                <ul class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    {% for appointment in available_appointments %}
                        <li class="mb-2">
                            {{ appointment.start_time.strftime('%Y-%m-%d %H:%M') }} -
                            {{ appointment.end_time.strftime('%H:%M') }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-gray-600">Brak dostępnych wizyt.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
